Repository mishamyrt/nuga-app: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-styles

format:
  priority: 1
  stage_fixed: true
  run: 'pnpm prettier-eslint --write --config ./.prettierrc {staged_files}
  
    '

format-styles:
  priority: 2
  stage_fixed: true
  run: pnpm stylelint --fix {staged_files}

chore: update go to 1.22.2
  .github/workflows/build.yaml
  .github/workflows/quality-assurance.yaml
  go.mod
Due: none

feat: tune adaptive theme and make it default
  ui/src/entities/keys/lib/themes.ts
  ui/src/entities/keys/model/stores/theme.ts
  ui/src/features/keys/select-theme/index.ts
  ui/src/features/keys/select-theme/lib/constants.ts
  ui/src/features/keys/select-theme/lib/index.ts
  ui/src/features/keys/select-theme/model/index.ts
  ui/src/features/keys/select-theme/model/types.ts
  ui/src/features/keys/select-theme/ui/KeyboardThemeSelect.svelte
  ui/src/features/keys/select-theme/ui/index.ts
Due: format, format-styles

feat: improve linux toolbar styles
  CHANGELOG.md
  ui/src/app/ui/Toolbar.svelte
Due: format, format-styles

fix: correctly update theme on change
  CHANGELOG.md
  ui/src/entities/nuga/lib/theme-context.ts
Due: format

feat: add matcha keyboard theme
  CHANGELOG.md
  ui/src/entities/keys/lib/themes.ts
  ui/src/features/keys/select-theme/lib/constants.ts
Due: format

docs: Release 2.3.1 🔥
  CHANGELOG.md
  Makefile
Due: none

chore: update hesoyam to latest
  ui/package.json
  ui/package.json.md5
  ui/pnpm-lock.yaml
Due: format

chore: update pnpm and wails
  .github/workflows/build.yaml
  .github/workflows/quality-assurance.yaml
  go.mod
  go.sum
Due: none

chore: update frontend deps
  ui/package.json
  ui/package.json.md5
  ui/pnpm-lock.yaml
Due: format

chore: clean up go deps
  go.sum
Due: none

ci: use ubuntu 20.04 for now
  .github/workflows/build.yaml
Due: none

ci: bump build wails version
  .github/workflows/build.yaml
Due: none

docs: add fsd badge
  ui/README.md
Due: format

chore: lint golang code on pre-commit
  lefthook.yaml
Due: none

fix: disable controls on backlight off
  CHANGELOG.md
  ui/src/features/lights/select-brightness/ui/LightsBrightnessSlider.svelte
  ui/src/features/lights/select-color/ui/LightsColorSelector.svelte
  ui/src/features/lights/select-mode/ui/LightsModeSelect.svelte
  ui/src/features/lights/select-speed/ui/LightsSpeedSlider.svelte
Due: format, format-styles

docs: Release 2.3.2 🔥
  CHANGELOG.md
  Makefile
Due: none

docs: remove tools versions
  README.md
Due: none

Path conditions:
  format: any of: *.{svelte,js,cjs,mjs,ts,md,json} and ^ui/
  format-styles: any of: *.{css,svelte,scss} and ^ui/
